<form action="/api/actualizarproducto/{{producto._id}}?_method=PUT" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <input type="text" name="nombre" value="{{producto.nombre}}" >
    <input type="number" name="precio" value="{{producto.precio}}">
    <input type="submit" value="actualizar">
</form>
