<h1>aca va el carrito</h1>

<div>
    <table>
        <tr> 
            <th>nombre</th><th>precio</th> 
    {{#each productos}}
        <tr>
            <td>{{this.nombre}}</td>
            <td>{{this.precio}}</td>
            <button>agregar al carrito</button>
            <button>editar</button>
            <button>eliminar</button>
        </tr>    
    {{/each}} 
        </tr> 
    </table>
</div>  