<h1>crear productos</h1>
<form action="" method="post">
    <input type="text" name="nombre" id="" placeholder="nombre">
    <input type="number" name="precio" id="" placeholder="precio">
    <input type="submit" value="crear">
</form>