<a href="/api/crearproducto">Crear un producto</a>
<a href="/api/carrito">ir al carrito</a>
<button onclick="location.href='/api/auth/logout'">logout</button>

<div>
    <table>
        <tr> 
            <th>nombre</th><th>precio</th> 
    {{#each productos}}
        <tr>
            <td>{{this.nombre}}</td>
            <td>{{this.precio}}</td>
            <td><button>agregar al carrito</button></td>
            <td><button>editar</button></td>
            <form action="/api/eliminarproducto/{{this._id}}?_method=DELETE" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <td><button>eliminar</button></td>
            </form>
        </tr>    
    {{/each}} 
        </tr> 
    </table>
</div>  