<div class="card">
    <div class="card-header">
        Registro
    </div>
    <div class="card-body">
        <form action="/api/auth/registrarse" method="post">
            <div class="form-group">
              <label for="">Nombre</label>
              <input type="text" class="form-control" name="username" id="nombre" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted">Help text</small>
            </div>
            <div class="form-group">
              <label for="">Contrasenia</label>
              <input type="password" class="form-control" name="password" id="contrasenia" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted">Help text</small>
            </div>
            <div class="form-group">
              <label for="">Email</label>
              <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelpId" placeholder="">
              <small id="emailHelpId" class="form-text text-muted">Help text</small>
            </div>
            <div class="form-group">
              <label for="">Direccion</label>
              <input type="text" class="form-control" name="direccion" id="direccion" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted">Help text</small>
            </div>
            <div class="form-group">
              <label for="">Telefono</label>
              <input type="number" class="form-control" name="telefono" id="telefono" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted">Help text</small>
            </div>
            <div class="form-group">
              <label for="">Edad</label>
              <input type="number" class="form-control" name="edad" id="edad" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted">Help text</small>
            </div>
            {{!-- <div class="form-group">
              <label for="">Avatar</label>
              <input type="url" class="form-control" name="avatar" id="avatar" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted">Help text</small>
            </div> --}}
            <label for="">usuario o admin</label>
            <input type="text" name="rol" id="">
            <button type="submit" class="btn btn-primary">Registrate</button>
        </form>
    </div>
</div>